.Gallery {
    padding-bottom: 1rem;

    display: grid;
    grid-template-columns: 5rem auto 5rem;
    justify-content: center;

    perspective: 33rem;
    perspective-origin: center;

}

.Gallery img {
    border-radius: 0.25rem;
    max-height: 17.5rem;
    transition: 0.5s cubic-bezier(.18,.89,0,1.69);
    transform-origin: top;
}

.Gallery img:hover {
    transform: translateZ(1rem);
}

.Gallery button {
    background: none;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
}